[Unit]
Description=gofn snapshot

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/local/bin/snapshot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target