[Unit]
Description=gofn snapshot
Before=docker.service
After=network.target network-online.target
Requires=network.target network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/local/bin/snapshot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target